@font-face {
  font-family: 'Inter';
  src:
    url('../styles/assets/Founder/Founder-demo.otf') format('opentype'),
    url('../styles/assets/Founder/Founder-demo.ttf') format('truetype');

  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #2C2E35;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.app {
  display: flex;
  align-items: start;
}
.container {
  max-width: 1512px;
  width: 90%;
  margin: 0 auto;
}

.flexItem {
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-4 {
  width: 33.3%;
  padding: 0 15px;
}

.col-6 {
  width: 50%;
  padding: 0 15px;
}

.col-3 {
  width: 25%;
  padding: 0 15px;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .col-6 {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .pageNavigation {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}
