.control__table {
    padding: 50px 0;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 8px;
    color: #fff;
    font-size: 14px;
}

.control__row--head {
    .control__cells {
        background: #34363D;
        padding: 14px 16px;
        text-align: left;
        white-space: nowrap;
        color: #FEE642;
        font-size: 18px;
        &:first-child {
            border-radius: 20px 0 0 20px;
        }
        &:last-child {
            border-radius: 0 20px 20px 0;
        }
    }
}

.control__body {
    .control__cell {
        padding: 14px 16px;
        text-align: left;
        white-space: nowrap;
        color: #FFFFFF;
        font-size: 18px;
        border: none;
    }

    .control__row {
        &:nth-child(odd) .control__cell {
            background: transparent;
        }
        &:nth-child(even) .control__cell {
            background: #34363D;
        }


        .control__cell:first-child {
            border-radius: 12px 0 0 12px;
        }
        .control__cell:last-child {
            border-radius: 0 12px 12px 0;
        }
    }
}

.control__btn {
    display: inline-block;
    padding: 6px 14px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 500;
    transition: all 0.2s ease;

    &--active {
        color: #e6ff4f;
        border: 1px solid #e6ff4f;
        background: transparent;

        &:hover {
            background: #e6ff4f;
            color: #2a2d34;
        }
    }

    &--disabled {
        background: #ff4d4f;
        color: #fff;
    }
}
